<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>cadastro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list>
    <ion-item>
      <ion-label position="floating">Nome</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>E-mail</ion-label>
      <ion-input type="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Senha</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-list-header>Interesses</ion-list-header>
    </ion-item>
    <ion-item>
      <ion-label>Backend</ion-label>
      <ion-checkbox slot="start"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Frontend</ion-label>
      <ion-checkbox slot="start" color="danger"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Receber informações</ion-label>
      <ion-toggle></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Gênero</ion-label>
      <ion-select multiple="true" cancelText="Cancelar" okText="Confirmar">
        <ion-select-option>Masculino</ion-select-option>
        <ion-select-option>Feminino</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <ion-button (click)="presentToast('top')">Toast</ion-button>
</ion-content>
