<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-label>   Conteúdo do Home  </ion-label>
  <ion-icon name="logo-ionic" size="large" color="success"></ion-icon>
  <ion-icon name="finger-print-outline" size="large" color="danger"></ion-icon>
  <ion-icon name="finger-print-outline" size="large" color="success"></ion-icon>
</ion-content>

<ion-footer>
  <ion-toolbar color="danger">
  <ion-title>Rodapé</ion-title>
  </ion-toolbar>
  </ion-footer>
